*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    color-scheme: light dark;
}
body {
    min-height: 100vh;
}
img, picture, svg {
    display: block;
    max-width: 100%;
}
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

.container {
    margin-bottom: 15px;
}
#toggleMenu {
    font-size: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
}

#menuList {
    list-style: none;
    width: 50vw;
}

/* .intro img {
     margin: auto;
} */
.intro p {
    color: var(--dark-grayish-blue);
    padding: 12px 0;
}
.intro button {
    padding: 15px 30px;
    color: var(--off-white);
    background-color: var(--soft-red);
    text-transform: uppercase;
    letter-spacing: 4px;
    outline: none;
    border: none;
}

.latest-news {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}
.latest-news p {
    color: var(--grayish-blue);
}
.latest-news h2 {
    margin: 5px 25px;
    color: var(--soft-orange);
    font-size: 32px;
}
.new-news-item {
    padding: 15px 0;
    margin: 0 25px;
}
.underline {
    border-bottom: 0.1px solid var(--grayish-blue);
}
.popular-news-item {
    display: flex;
}
.popular-news-item h2 {
    font-size: 30px;
    color: var(--grayish-blue);
    font-weight: 900;
    letter-spacing: 3px;
}
.popular-news-item img {
    width: 120px;
    /* height: auto; */
}