*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}
html {
    color-scheme: light dark;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
img, picture, svg {
    display: block;
    max-width: 100%;
}
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
.overall-container {
    padding: 10px;
}
.container {
    margin-bottom: 15px;
}
header {
    margin-bottom: 10px;
}
.flex {
    display: flex;
    gap: var(--gap, 2rem);
}
.sr-only {
    left: -100vw;
    position: absolute;
}
.logo {
    /* width: 50px; */
    margin-block: 1rem;
}
.mobile-nav-toggle {
    display: none;
    outline: none;
}
.primary-header {
    justify-content: space-between;
    align-items: center;
}
.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 100%);
}
.primary-navigation a {
    text-decoration: none;
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 300ms ease-in;
    }
    .primary-navigation[data-visible='true']{
        transform: translateX(0%);
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url('/assets/images/icon-menu.svg');
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    .mobile-nav-toggle[aria-expanded='true']{
        background-image: url('/assets/images/icon-menu-close.svg');
    }
}

.intro p {
    color: var(--dark-grayish-blue);
    padding: 12px 0;
}
.intro button {
    padding: 15px 30px;
    color: var(--off-white);
    background-color: var(--soft-red);
    text-transform: uppercase;
    letter-spacing: 4px;
    outline: none;
    border: none;
}

.latest-news {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}
.latest-news p {
    color: var(--grayish-blue);
}
.latest-news h2 {
    margin: 5px 25px;
    padding-block: 15px;
    color: var(--soft-orange);
    font-size: 32px;
}
.new-news-item {
    padding: 20px 0;
    margin: 0 25px;
}
.underline {
    border-bottom: 0.1px solid var(--grayish-blue);
}
.popular-news-item {
    display: flex;
    gap: var(--gap, 1rem);
    margin-bottom: 1rem;
}
.popular-news-item h2 {
    font-size: 30px;
    color: var(--grayish-blue);
    font-weight: 900;
    letter-spacing: 3px;
}
.popular-news-item img {
    max-width: 140px;
    height: 140px;
}